.command {
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f4fa;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.command__title {
  text-align: center;
}

.command-list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    margin-left: -30px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }
  // margin-top: 50px;
  // & > .item + .item {
  //   margin-left: 30px;
  // }
}

.command-item {
  width: 450px;
  height: auto;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;

  @media screen and (min-width: 768px) {
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    flex-basis: calc(100% / 4 - 30px);
  }
}

.command-item__jpg {
  width: 100%;
  height: auto;
}

.list-icon {
  display: flex;
  width: 206px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 30px;
  & > .item + .item {
    margin-left: 10px;
  }
}

.list-icon__item {
  display: flex;
}

.list-icon__icon {
  fill: #afb1b8;
  .list-icon__link:hover &,
  .list-icon__link:focus & {
    fill: var(--anti-color);
  }
}

.list-icon__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.command-item__name {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.command-item__text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
