.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio-card__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.portfolio-card {
  width: 370px;
  height: 404px;
  background: #ffffff;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-list__portfolio-card {
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-card__link {
  display: block;
}

.portfolio-card__caption {
  padding: 20px 24px;
  height: 110px;
  border-color: #eeeeee;
  border-width: 0 1px 1px 1px;
  border-style: solid;
}

.portfolio-card__text {
  display: block;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.portfolio-card__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-card__top-text {
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--anti-color);
  padding: 63px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  /* overflow: hidden; */

  .portfolio-card:hover & {
    transform: translateY(0);
  }
}
